<h1>Edit room filter</h1>
<br /><br />
<%= simple_form_for(@filter, :url => admin_filter_path(@filter), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.input :name %>
  <div class="control-group">
    <div class="controls"><%= f.button :submit, 'Save', :class => 'btn-primary' %></div>
  </div>
<% end %>

<div class="pull-right">
  <%= link_to 'Back', admin_filters_path, :class => 'btn' %>
</div>
