@import "bootstrap/mixins";

#osu-top-hat {
  width:100%;
  height:55px;
  border-bottom:3px solid #dbd6d0;
  font-family:Gudea,Arial,Helvetica,Verdana,sans-serif;
  @include gradient-vertical(#565656, #252525);

  ul.menu {
    float:left;
    margin:1.5em 0 0;
    padding:0;
    width:auto;
    li {
      &.leaf {
        float:left;
        list-style-type:none;
        list-style-image:none;
        font-size:12px;
        margin:0;
        padding:0 .5em;
      }
      &.first {
        @include border-radius(10px);
        margin-left: 20px;
        margin-top: -3px;
        padding: 3px 5px 3px 37px;
        background: url(askus.png) 10% 50% no-repeat transparent;
      }
      &.last {
        @include border-radius(10px);
        margin-top: -3px;
        padding: 3px 5px 3px 24px;
        background: url(foundation.png) 10% 50% no-repeat transparent;
      }
      &.first, &.last {
        &:hover, &:active, &:focus {background-color: #555;}
        a:hover, a:active, a:focus {background-color: transparent;}
      }
      a {
        @include border-radius(10px);
        text-decoration:none;
        color:#fff;
        border-radius:10px;
        padding: 5px 10px;
        &:hover, &:active, &:focus{background-color:#555;}
      }
    }
  }

  .tag{
    float:left;
    margin-left:1.231em;
    margin-right:1.5em;
    position:relative;
    border:none;
    z-index:51;
    padding:0;

    .mobile-header {
      color:#fff;
      font-weight:bold;
      font-size:16px;
      display: none;
    }
  }

  @media (max-width:767px) {
    height: 40px;
    ul.menu {
      display: none;
    }
    #mobile-icon-menu {
      background: transparent;
      color: #fff;
      display: block;
      position: absolute;
      right: 4%;
      text-decoration: none;
      top: 10px;
      z-index: 300;
    }
    #mobile-icon-menu .icon-search {
      font-size: 18px;
    }
  }
  @media (max-width:480px) {
    @include gradient-vertical(#c34500, #ae3d00);
    background-repeat:repeat-x;
    height:auto;
    border-bottom:none;
    text-align:left;

    .container{padding:10px 0 0 10px;}
    .tag {
      margin-left:0;
      float:none;
      .logo {display: none;}
      .mobile-header {display: inline-block;color:#fff;font-weight:bold;font-size:16px;}
    }
  }
}
#mobile-icon-menu {
  display: none;
}

#common-header {
  color: #252525;font-size: 16px;line-height: 22px;
  a:focus { outline: none; }
  h1, h2, h1 a { font-weight: 400;}
  h1 a { text-decoration: none;color: #c34500;}
  h1, h2 { font-family: "EksjaExtremesRegular", "Arial", "Helvetica", "Verdana", sans-serif;}
  h1 { font-size: 30px;line-height: 44px;margin: 0px;padding: 1em 0px 0px;}
  h2 { line-height: 32px;}
  .tab-content { overflow: hidden;}
}

#header a:hover, a:active, a:focus { color: #615042; }
.word-hide {text-indent: -9999em;}

.form-submit{margin-bottom:1em;}
body { font-family: "Gudea", "Arial", "Verdana", sans-serif;}


.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  height: 1px;
}

.osu-question-icon {
  background: url(question-w22.png) no-repeat transparent;
  display: inline-block;
  width: 22px;
  height: 22px;
  float: left;
}

#top-hat-chat {
  font-size: 19px;
  color: #ffffff;
  float: right;
  margin-right: 20px;
  margin-top:6px;
  width:200px;
  a {
    padding: 0 0 0 5px;
    border-radius: 0;
  }
  a:hover {
    background: none;
    text-decoration: underline;
    text-align: right;
  }
  a:active, a:focus {
    background: none;
  }
}

.top-hat-chat-sm {
  font-size: 13px;
  font-weight:normal;
  color: #CCC;
}


