<div id="legend">
  <span class="label-success legend-icon">&nbsp;</span> - Available (Click to Reserve) &nbsp;&nbsp;
  <span class="label-important legend-icon">&nbsp;</span> - Unavailable &nbsp;&nbsp;
  <span class="label-info legend-icon">&nbsp;</span> - Your Reservation
</div>