<div id="legend">
  <span class="label-success legend-icon">&nbsp;</span><span class="legend-hide-sm"> - </span>Available <span class="legend-hide-sm">(Click to Reserve) </span>&nbsp;&nbsp;
  <span class="label-important legend-icon">&nbsp;</span><span class="legend-hide-sm"> - </span>Unavailable &nbsp;&nbsp;
  <span class="label-info legend-icon">&nbsp;</span><span class="legend-hide-sm"> - </span>Your Reservation
</div>