<div id="legend">
  <span class="success legend-icon">&nbsp;</span> - Available (Click to Reserve) &nbsp;&nbsp;
  <span class="danger legend-icon">&nbsp;</span> - Unavailable &nbsp;&nbsp;
  <span class="info legend-icon">&nbsp;</span> - Your Reservation
</div>