<% cache(["RoomList"] | @rooms.map{|x| x.presenter.cache_key}) do %>
  <% floors.each do |floor| %>
    <div class="tab-pane <%= floor == 1 ? 'active' : '' %>" id="floor-<%= floor %>">
      <div class="room-data-wrap">
        <% @rooms.select { |r| r.floor == floor }.each do |room| %>
          <%= render :partial => "room_bar", :locals => {:room => room} %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>