          <div>
            <p><strong>Logged in as:</strong><br />
            Someone (<a href="#reservations">Reservations</a>) <a href="#logout">Logout</a></p>
          </div>
          <div id="datepicker" class="widget"></div>
          <div id="options" class="widget">
            <div class="widget-title">Options</div>
            <div class="widget-content">
              <small>Click to only show rooms with the given feature.</small>
              <form>
                <label><input type="checkbox" />Display all rooms</label>
                <label><input type="checkbox" />ADA Accessible</label>
                <label><input type="checkbox" />Dry-erase wall</label>
                <label><input type="checkbox" />Window</label>
                <label><input type="checkbox" />Monitor</label>
                <label><input type="checkbox" />Near a restroom</label>
              </form>
            </div>
          </div>