          <div id="login-link">
            <%= render :partial => "login_link" %>
          </div>
          <div id="datepicker" class="widget" data-min-date="0"></div>
          <div id="options" class="widget">
            <div class="widget-title">Options</div>
            <div class="widget-content">
              <small>Click to only show rooms with the given feature.</small>
              <%= render :partial => 'filter-list', :locals => {:filters => @filters} %>
            </div>
          </div>