          <div>
            <p><strong>Logged in as:</strong><br />
            Someone (<a href="#reservations">Reservations</a>) <a href="#logout">Logout</a></p>
          </div>
          <div id="datepicker" class="widget"></div>
          <div id="options" class="widget">
            <div class="widget-title">Options</div>
            <div class="widget-content">
              <small>Click to only show rooms with the given feature.</small>
              <%= render :partial => 'filter-list' %>
            </div>
          </div>