<div id="time-list">
  <% hours = [start_time].tap { |array| array << array.last + 1.hour while array.last < start_time+1.day} %>
  <div class="span0" id="room-time-list">
    <% hours.each do |t| %>
      <div class="room-time" data-hour='<%= t.hour %>'><%= t.strftime("%l:%M %P") %> <i class="icon-chevron-right"></i></div>
  <% end %>
  </div>
  <div class="room-time-reference-line">
    <div class=""></div>
    <% (0..hours.length-2).to_a.each do |h| %>
      <div class="time-reference-line" data-hour='<%= h %>'></div>
  <% end -%>
  </div>
</div>
