      <div class="row">
        <div class="span12">
          <h2 id="heading">Study Room Reservation</h2>
          <p>All study rooms have whiteboards. Some rooms have monitors and dry-erase walls.</p>
        </div>
      </div>
      <div class="row osu-purple">
        <div class="span9">
          <div class="alert alert-info" id="remindermessage">
            Fifth floor rooms are unlocked. No reservation needed.
          </div>
            <div class="tabbable" id="tabs-floor">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#floor-1" data-toggle="tab">1st Floor</a></li>
                <li><a href="#floor-2" data-toggle="tab">2nd Floor</a></li>
                <li><a href="#floor-5" data-toggle="tab">5th Floor</a></li>
                <li><a href="#floor-6" data-toggle="tab">6th Floor</a></li>
              </ul>
              <div class="tab-content" id="dayviewTable">
                <div class="row-fluid" style="position:absolute">
                  <div class="span0" id="room-time-list">
                    <% %w(am pm).each do |t| %>
                      <% ([12]+(1..11).to_a).each do |h| %>
                    <div class="room-time"><%= h %>:00 <%= t %> <i class="icon-chevron-right"></i></div>
                      <% end -%>
                    <% end -%>
                  </div>
                  <div class="room-time-reference-line">
                    <div class=""></div>
                    <% (0..24).to_a.each do |h| %>
                    <div class="time-reference-line"></div>
                    <% end -%>
                  </div>
                  <div id="loading-spinner"></div>
                </div>
                <%= render :partial => 'room-list' -%>
              </div>
            </div>

        </div>
        <div class="span3">
          <%= render 'sidebar' -%>
        </div>
      </div>
