<table class="table table-hover my-reservations">
  <tr class="show-desktop">
    <th class="span2">Room</th>
    <th class="span3">Date &amp; Time</th>
    <th class="span3">Weekday</th>
    <th class="span2">Request Date</th>
    <th class="span2"></th>
  </tr>
  <% @reservations[0].each do |reservation| %>
    <%= render 'row', :reservation => reservation %>
  <% end %>
  <% if @reservations[0].empty? %>
    <tr><td colspan="5" class="row-empty">Empty</td></tr>
  <% end %>
  <% unless @reservations[1].empty? %>
    <tr>
      <th colspan="5">Expired &amp; Cancelled</th>
    </tr>
  <% end %>
  <% @reservations[1].each do |reservation| %>
    <%= render 'row', :reservation => reservation %>
  <% end %>
</table>