<div class="row">
  <div class="span12">
    <h2 id="heading">My Reservations - <%= link_to 'Study Room Reservation', root_path %></h2>
  </div>
</div>
<%= render :partial => "table" %>
<br />
<%= render :partial => 'home/cancel_popup' %>
<%= render :partial => 'home/admin_update_popup' %>