$danger-start-color: #ee5f5b !default;
$danger-end-color: #c43c35 !default;
$success-start-color: #62c462 !default;
$success-end-color:   #57a957 !default;
$info-start-color: #5bc0de !default;
$info-end-color:   #339bb9 !default;
$warning-start-color: #fbb450 !default;
$warning-end-color:   #f89406 !default;
