#legend {
  text-align: center;
  font-size: 125%;
  position: absolute;
  bottom: 8px;
  width: 100%;
  .legend-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  #legend {
    font-size: 1em;
  }
}
@media (max-width: 679px) {
  #legend {
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  .legend-hide-sm {
    display: none;
  }
}
