#modal_skeleton {
  .modal-title {
    text-align: center;
  }
  .modal-content {
    p {
      text-align: left;
    }
    text-align: center;
    .modal-footer {
      text-align: center;
    }
  }
}