@import "bootstrap/mixins";
input.restlink {
  border: 0;
}

.popup {
  z-index: 9000;
  display: none;
  min-width: 250px;
  label {
    font-weight: bold;
  }
  form {
    margin-bottom: 0;
  }
  .popup-content-errors {
    border: 2px solid red;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    display: none;
  }
  .control-group {
    text-align: center;
  }
  .reservation_description {
    margin-bottom: 10px;
  }
  .popup-button {
    text-align: center;
  }

  .popup-message {
    margin: 0;
    padding: 8px 14px;
  }

  .popover-title {
    cursor: move;
  }
}

#reservation-popup {
  .time-range-label {
    text-align: center;
    span {
      font-weight: bold;
      display: inline-block;
    }
  }
}
