<h1>Settings</h1>

  <% @settings.each do |category, settings| %>
    <h4><%= category %></h4>
    <% settings.each do |setting| %>
      <% if setting.field_type == "hash" %>
        <%= render "hash_form", :setting => setting %>
      <% else %>
        <%= render "form", :setting => setting %>
      <% end %>
    <% end %>
  <% end %>