<h1>Settings</h1>

<table class="table table-hover">
  <tr>
    <th class="span4">Setting Name</th>
    <th class="span8">Value</th>
  </tr>
  <% @settings.each do |setting| %>
    <tr>
      <td><%= setting.friendly_name %></td>
      <td>
        <%= form_for(setting, :url => admin_setting_path(setting), :html => {:class => 'form-inline'}) do |f| %>
          <%= f.text_field :value %>
          <%= f.submit 'Save', :class => 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
