
body { background: url('parchment.png') repeat; margin:0; font-size:13px; font-family:Arial,Helvetica,Verdana,sans-serif; }
#page { width:80.923em; margin-left:auto; z-index:2; position:relative;
	margin-right:auto; }

#footerbg {
width:100%;
border-top:4px solid #561F4B;
/*background: url('images/footer-grad.png') repeat-x 0 0 #ABAFA6;*/
/*background: url("images/footer-grad.jpg") repeat-x scroll 0 0 #2F2A2B;*/
background-color: #252525;
background-image: url("footer-grad.png");
background-position: left top;
background-repeat: repeat-x;

height:148px;
}

#footer { width:74.923em; padding: 0 160px; margin-top:20px; color:#FFF; }

#footer a, .SS_CopyRightStatement a { color:#FFF; }

#footer img { vertical-align:middle; }

.SS_CopyRightStatement { background-color: #252525 !important; color:#FFF; }
.SS_CopyRightStatement font {  width:74.923em; margin-left:auto; margin-right:auto; display:block; }

#titlebar {
	background: #FFF;
	height: 84px;
	position: relative;
	top:46px;
	width:100%;
	/*-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;*/
	color: #fff;
	font-size: 0.9em;
	z-index:2;
}


#titlebar .osulink {
	border:0;
	display:block;
	height:120px;
	width:102px;
	background: url('https://secure.oregonstate.edu/u_central/top-hat/images/osu-tag.gif') no-repeat;
	position:absolute;
	left:16px;
	z-index:4;
	top:-46px;
}
#titlebar .librarylink {
	border:0;
	display:block;
	float:left;
	height:42px;
	width:234px;
	background: url('osulibraries.png') no-repeat;
	margin:30px 0 0 130px;
}
.utilitybg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:42px;
	background:#2F2A2B url('tophat-bg.jpg') repeat-x;
	border-bottom:4px solid #561F4B;
	z-index:2;
}

.utility {
	position:absolute;
	top:-46px;
	left:0;
	width:100%;
	height:42px;
	text-align:right;
	z-index:3;
}

.utility a{
	color:#FFF;
	text-decoration:none;
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-size:13px;
	display:inline-block;
	border-right:solid 1px #FFF;
	padding:0 14px;
}

.utility ul {
	margin-top:12px;
	float:right;
}

.utility ul li {
	list-style:none;
	margin:0;
	background:none;
	display:block;
	float:left;
}

.utility ul li:last-child a, .utility ul li#gift a {
	border:none;
}

.utility ul li#gift {
	background: url('foundation.png') no-repeat;
	height:24px;
	padding-left:11px;
	margin-left:14px;
}

.utility ul li#askus {
	background: url('askus.png') no-repeat;
	height:24px;
	padding-left:30px;
}

#titlebar a {color: #ffffff;}

#header {border: 0;}
.contactinfo {margin-left: 25px;}

#nav {
	width:100%;
	background: -webkit-gradient(linear, left top, left bottom , color-stop(0, #F5F5F5), color-stop(0.7, #FFFFFF));
	background: -moz-linear-gradient(center top , #F5F5F5 0%, #FFFFFF 70%);
	background: url('nav1x38.png') repeat-x top left;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#ffffff);*/
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	border-top:1px solid #E2E2E2;
	margin-bottom:60px;
	height:38px;
	position:relative;
	top:46px;
	z-index:6;
	overflow:visible;
}

#menu { margin: 0; padding:0; }

#nav #menu>li { list-style: none; display:inline-block;margin:0; padding:0; font-family:'trebuchet ms',Arial,Helvetica,sans-serif; position:relative; float:left; height: 38px;}

#nav #menu>li:hover { background-color:#F2F2F2; }

#nav #menu>li:first-child:hover {
	-moz-border-radius:0 0 0 10px;
	-webkit-border-radius:0 0 0 10px;
	border-radius:0 0 0 10px; }

#nav #menu>li:first-child h2 { border:0; }

#nav #menu>li h2 {  border-left:1px solid #4D4D4D; font-variant:small-caps; padding:0 15px; font-size:14px; margin:10px 0; letter-spacing:1px; font-weight:normal; line-height: 18px; }

#nav #menu>li>h2>a {  text-decoration:none; color:#4D4D4D; background:url("https://osulibrary.oregonstate.edu/sites/all/themes/osu_confident/images/dotted-underline.gif") repeat-x left bottom; }

#nav #menu>li>h2>a:hover { background:none; color:#000; }

#nav #menu > li:nth-child(2) > h2 > a { border:0; }

#nav #menu>li>ul {
position:absolute; display: none; width:614px; margin:0;
background-color:#F5F5F5;
background:-webkit-gradient(linear, left top, left bottom , color-stop(0, #F5F5F5), color-stop(0.2, #FFFFFF));
background:-moz-linear-gradient(center top , #F5F5F5 0%, #FFFFFF 20%) repeat scroll 0 0 #FFF;
border:1px solid #CCC;
border-width:0 1px 1px 1px;
-moz-border-radius:0 0 10px 10px;
-webkit-border-radius:0 0 10px 10px;
border-radius:0 0 10px 10px;
padding:1.5em 0 0 0;
/*overflow:auto;*/
z-index:10;
left:0;
	}
#nav #menu>li.show>ul { display:inline-block !important; }
#nav #menu>li:hover>ul { display: inline-block !important; }
#nav #menu>li>ul:hover { display:inline-block !important; }

#nav #menu>li>ul>li { list-style:none; float:left; width:200px; vertical-align:top; display:block; }
#nav #menu>li>ul>li:first-child { margin-left:1em; }
#nav #menu>li>ul>li h3 {
-moz-box-shadow:-1px 1.5px 3px 0.25px #CCCCCC;
-webkit-box-shadow:-1px 1.5px 3px 0.25px #CCCCCC;
box-shadow:-1px 1.5px 3px 0.25px #CCCCCC;
background-color:#561F4B;
padding:3px 8px;
margin:0 1em 0.25em 0;
letter-spacing:0.5px;
font-weight:normal;
color:#FFF;
font-size:100%;
line-height: 18px;
}

#nav #menu>li>ul>li>ul { padding:0; margin:0 0 1em 0; }
#nav #menu>li>ul>li>ul>li { list-style:none; padding:0.3em 0 0.3em 8px; border-top:1px dotted #D0D0D0; margin-right:1em; margin-left:0; }
#nav #menu>li>ul>li>ul>li:first-child { border-top:0; }
#nav #menu>li>ul>li>ul>li a { text-decoration:none; color:#561F4B; line-height:1.5em; }
#nav #menu>li>ul>li>ul>li>a:hover { text-decoration:underline; color:#D85A1A; }

#nav #menu>li>ul>li.bottom {
background: url("images/tophat-bg.jpg") repeat-x scroll left top #2F2A2B;
-moz-border-radius:0 0 10px 10px;
-webkit-border-radius:0 0 10px 10px;
border-radius:0 0 10px 10px;
clear:both;
float:left;
width:594px;
padding:0.5em 0 0.5em 1.6em;
}

#nav #menu>li>ul>li.bottom a { color: #FFF; text-decoration:none; }
#nav #menu>li>ul>li.bottom a:hover { text-decoration:underline; }
#nav #menu>li>ul>li.bottom span { color:#B3BA35; }

#searchTabs { position:absolute; right:0; top:-31px; }
#searchTabs form { margin:0; }
#searchTabs .gobtn { margin-top:1px; }
#searchTabs input[type=text] { background-color:#FFF; color:#D85A1A !important; float:left; font-family:'trebuchet ms',Arial,Helvetica,sans-serif; font-size:0.9em; margin:1px 0 0 0; padding:0; width:235px; }
.ui-tabs { background:none !important; border:0 !important; }
.ui-tabs-nav { background:none !important; border:0 !important; }
.ui-tabs-panel { padding:6px 0 0 3px !important; }
.ui-state-default { font-size:12.9px; font-family:'trebuchet ms',Arial,Helvetica,sans-serif; }
.ui-state-default a { padding:3px 5px 3px 26px !important; outline:none; }
.ui-state-active { background:-moz-linear-gradient(center top , #FFFFFF 0%, #F5F5F5 50%) repeat scroll 0 0 transparent !important; }

.ui-state-default a#onesb { background:url('searchicons.png') no-repeat 6px -20px; }
.ui-state-active a#onesb { background:url('searchicons.png') no-repeat 6px 3px; }
.ui-state-default a#bmsb{ background:url('searchicons.png') no-repeat 6px -72px; }
.ui-state-active a#bmsb{ background:url('searchicons.png') no-repeat 6px -45px; }
.ui-state-default a#wssb{ background:url('searchicons.png') no-repeat 6px -125px; }
.ui-state-active a#wssb{ background:url('searchicons.png') no-repeat 6px -100px; }

.socialLinks { vertical-align:middle; }
.socialLinks a { display:inline-block; height:16px; margin:0 1px; overflow:hidden; text-indent:-100px; width:16px; }
.socialLinks .fb { background-position:0 32px; }
.socialLinks .twitter { background-position:0 16px; }

#body {
	/*background: #fff;*/
	background-color: transparent;
	/*-moz-box-shadow:  0 0 8px .5px #dedad4;*/
	/*-webkit-box-shadow:  0 0 8px .5px #dedad4;*/
	/*box-shadow:  0 0 8px .5px #dedad4;*/
	/*border: 1px solid #dedad4;*/
	border-top:none;
	min-height: 465px;
	margin-bottom: 20px;


}

#body #border {
/*	border-top: 4px solid #561f4b;*/
	padding: 10px 9px 5px 0px;
	margin:0;
}

#body a { color:#D85A1A !important; text-decoration:none; }
#body a:hover { text-decoration:underline; }

h2.title { color:#000; font-size:2em; font-family:'trebuchet ms',Arial,Helvetica,sans-serif; font-variant:small-caps; margin-left:13px; margin-bottom:10px; margin-top:-48px; }

h2.main_title {
	color: #000000;
    font-size: 2em;
    margin: 0;
}

hr { border:0 !important; background:#CCC !important; height:1px; }

p.info_desc {
    color: #4D4D4D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
	font-variant: normal;
	margin-top: 0;
}