@media (max-width:480px) {
  body {
    padding: 0;
  }
  #main-menu {
    display: none;
  }
  #header h1 {
    font-size: 24px;
    line-height: 24px;
    padding: 4px 8px 2px 10px;
  }
  #footer .block-menu {
    float: none;
  }
  #footer .content > .menu > li {
    display: block;
    float: none;
    max-width: 90%;
    width: 95%;
  }
  .parent {
    padding-left: 10px;
  }
  .content {
    padding: .4em;
  }
}
@media (min-width:481px) and (max-width:767px) {
  #osu-top-hat ul.menu {
    margin-left: -24px;
    margin-top: 34px !important;
  }
  #osu-top-hat ul.menu li.leaf {
    padding: 0 .3em;
  }
  #header {
    margin-bottom: 10px;
  }
  #header h1 {
    padding-left: 135px;
    padding-top: .1em;
  }
}
@media (max-width:767px) {
  #main-menu {
    display: none;
  }
  a.m-icon-link {
    color: #fff;
    padding: 11px 13px 9px;
    text-decoration: none;
  }
  a.m-icon-link:hover,a.m-icon-link:active,a.m-icon-link:focus {
    background-color: #373737;
  }
  #osu-top-hat {
    height: 40px;
  }
  #osu-top-hat ul.menu {
    display: none;
  }
  #osu-top-hat ul.menu li a.campaign {
    background-image: none;
    padding-left: .2em;
  }
  #osu-top-hat .utility,#osu-top-hat form.search {
    display: none;
  }
  #mobile-icon-menu {
    background: transparent;
    color: #fff;
    display: block;
    position: absolute;
    right: 4%;
    text-decoration: none;
    top: 10px;
    z-index: 300;
  }
  #mobile-icon-menu .icon-search {
    font-size: 18px;
  }
  #mobile-menu {
    background: #373737;
    margin-left: 0;
  }
  #mobile-menu li {
    list-style: none !important;
    margin: 0;
    padding: 0;
  }
  #mobile-menu ul {
    margin-left: 0;
  }
  #mobile-menu ul li a {
    color: #fff;
    display: block;
    line-height: 40px;
    padding-left: 10px;
    text-decoration: none;
  }
  #mobile-menu ul li a + ul {
    display: none;
  }
  #mobile-menu ul li a.active {
    font-weight: bold;
  }
  #mobile-menu ul li a.active + ul {
    display: block;
  }
  #mobile-menu #mobile-main-menu > ul > li + li {
    border-top: 1px solid #474747;
  }
  #mobile-menu #mobile-main-menu .active + .menu {
    background-color: #303030;
    background-image: linear-gradient(top,#373737,#252525);
    background-image: -moz-linear-gradient(top,#373737,#252525);
    background-image: -ms-linear-gradient(top,#373737,#252525);
    background-image: -o-linear-gradient(top,#373737,#252525);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#373737),to(#252525));
    background-image: -webkit-linear-gradient(top,#373737,#252525);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#373737',endColorstr='#252525',GradientType=0);
  }
  #mobile-menu #mobile-osu-top-hat {
    background: #1b1b1b;
    padding-top: 10px;
  }
  #mobile-menu #mobile-osu-top-hat li {
    display: inline-block;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 18.2%;
  }
  #mobile-menu #mobile-osu-top-hat li a {
    font-size: 12px;
    line-height: 12px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #mobile-menu #mobile-osu-top-hat li i {
    color: #acacac;
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 4px;
  }
  #mobile-menu #mobile-osu-top-hat li:last-child i {
    color: #d85a1a;
  }
  #main-menu,.tag + .menu {
    display: none;
  }
  #main-menu .menu li,#main-menu .nice-menu > li {
    float: none;
  }
  #main-menu .menu li a,#main-menu .nice-menu > li > a {
    border-bottom: 1px dotted #666;
    display: block;
  }
  #main-menu .menu li:last-child a,#main-menu .nice-menu > li:last-child > a {
    border-bottom: none;
  }
  #main-menu .nice-menu > li > a:hover ul,#main-menu .nice-menu > li:hover ul,#main-menu .nice-menu li:hover ul,#main-menu .nice-menu li ul {
    display: none !important;
  }
  #main-menu .nice-menu > li.menuparent > a,.classic #main-menu .nice-menu > li.menuparent > a {
    background-image: none;
  }
  #main-column1 > div,#main-column2 > div {
    margin: 0;
  }
  #footer {
    background: #e5e2dd;
    color: #252525;
    padding: 12px;
  }
  #footer h2,#footer h3 {
    color: #252525;
  }
  #footer a {
    color: #252525;
  }
  #footer a:hover,#footer a:active,#footer a:focus {
    color: #fff;
  }
  #footer .content > .menu {
    background: #575757;
    border-radius: 4px;
    margin-top: 20px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
  }
  #footer .content > .menu > li {
    display: block;
    margin-left: 0;
    max-width: 100%;
    padding-left: 10px;
    padding-top: 0;
    width: 100%;
  }
  #footer .content > .menu > li > a {
    background: #373737;
    line-height: 28px;
    padding-left: 10px;
  }
  #footer .content > .menu > li.expanded {
    margin-bottom: 12px;
  }
  #footer .content .menu li {
    margin: 0;
    padding: 0;
  }
  #footer .content .menu a {
    color: #fff;
    line-height: 22px;
    padding-left: 10px;
  }
  .classic #main-menu .nice-menu > li.menuparent:hover > a,.classic #main-menu .nice-menu > li.menuparent > a:hover,.classic #main-menu .nice-menu > li.menuparent > a:active,.classic #main-menu .nice-menu > li.menuparent > a:focus {
    background-color: #eee;
    background-image: none;
  }
  .science #main-menu .nice-menu > li + li,.science #main-menu .menu li + li {
    border-left: none;
  }
}
@media (min-width:768px) {
  #main-menu {
    display: block !important;
  }
  #mobile-menu {
    display: none !important;
  }
}
@media (min-width:768px) and (max-width:979px) {
  #osu-top-hat .utility {
    display: none;
  }
  #osu-top-hat ul.menu {
    margin: 0.8em 0 0 -2em;
  }
  .megamenu-skin-osul h2 a {
    padding:10px 32px 10px 16px;
  }

}
@media (max-width:979px) {
  body:before {
    display: none;
  }
  #features .content {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  }
}
@media (max-width:979px) {
  body {
    padding: 0;
  }
}