@import "bootstrap/mixins";

$osu-purple: #561F4B;
$osu-lightpurple: $osu-purple + #565;
$osu-grey: #4B4B4B;
$osu-darkgrey: #212121;

@mixin purple-background {
  background-color: $osu-purple;
  color: white;
}

@mixin grey-background {
  background-color: $osu-grey;
  color: white;
}

.osu-purple {
  .title,
  .widget-title {
    @include purple-background;
  }

  .nav-tabs > li {
    & > a,
    & > a:hover,
    & > a:focus {
      @include grey-background;
      transition: all 0.25s ease-in-out;
      border: none;
    }
    & > a:hover,
    & > a:focus {
      box-shadow: 0 0 5px $osu-darkgrey;
    }
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      @include purple-background;
    }

  }

  .nav-tabs {
    border-bottom: 1px solid $osu-purple;
  }

  .osu-background {
    @include purple-background;
  }

  .ui-slider-range {
    @include gradient-vertical(#662F5B, #460F3B);
  }
  .ui-slider-handle.ui-state-default {
    border-color: $osu-lightpurple;
  }
  .ui-slider-handle.ui-state-focus,
  .ui-slider-handle.ui-state-hover {
    border-color: $osu-purple;
  }

}