/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-responsive";
// Bootstrap Addons
@import "bootstrap-progressbar";
@import "bootstrap/bootstrap-widget";
// OSUL Styles
@import "osul";
@import url(http://fonts.googleapis.com/css?family=Gudea:400,400italic,700);
@import "jquery.ui.core";
@import "jquery.ui.slider";
// Layout
@import "layout/home";
@import "layout/theme-purple";
@import "layout/datepicker";
@import "layout/legend";
@import "layout/popups";
@import "reservations";
@import "layout/admin-navbar";
