@import "bootstrap/mixins";
input.restlink {
  border: 0;
}

.popover {
  z-index: 1050;
  display: none;
  label {
    font-weight: bold;
  }
  form {
    margin-bottom: 0;
  }
  .time-range {
    .time-range-label span {
      font-weight: bold;
      display: inline-block;
    }
    .time-range-label {
      text-align: center;
    }
  }
  .popup-content-errors {
    border: 2px solid red;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    display: none;
  }
  .reservation_description {
    margin-bottom: 10px;
    .controls {
      text-align: center;
    }
  }
  .popup-button {
    text-align: center;
  }
}

#cancel-popup {
  min-width: 250px;
  .cancellation-message {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    display: block;
  }
  .time-range-label {
    text-align: left;
    span {
      font-weight: normal;
    }
  }
}