@import "bootstrap/mixins";
input.restlink {
  border: 0;
  background: #fff;
  color: #236cb0;
  cursor: pointer;
}
input.restlink:hover {
  text-decoration: underline;
}

.popup {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  background-color: white;
  @include border-radius(2px);
  position: absolute;
  z-index: 999;
  display: none;
  label {
    font-weight: bold;
  }
  form {
    margin-bottom: 0;
  }
  .time-range {
    .time-range-label span {
      font-weight: bold;
      display: inline-block;
    }
    .time-range-label {
      text-align: center;
    }
  }
  .popup-content-errors {
    border: 2px solid red;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    display: none;
  }
  .reservation_description {
    margin-bottom: 10px;
    .controls {
      text-align: center;
    }
  }
  .popup-button {
    text-align: center;
  }
  .close-popup {
    right: 10px;
    position: absolute;
    a {
      color: blue;
      font-size: 120%
    }
  }
}