<div id="staff-shortcuts" class="navbar navbar-fixed-top admin-navbar">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand" href="#" class="span3">Staff Shortcuts</span>
      <form class="navbar-form form-inline pull-left span4">
        <%= text_field_tag('keycard_entry', '',:placeholder => 'Check In', :class => "span2") %>
        <%= text_field_tag('user_lookup', '',:placeholder => 'Swipe ID Card', :class => "span2") %>
      </form>
      <button data-action="alternate-view" class="btn btn-small span2" style="display:none;">Immediate Reservation</button>
      <span id="staff-shortcut-message" class="navbar-text span2"></span>
      <form class="navbar-form form-inline pull-right span3">
        <%= label_tag('patron_mode', "Patron Mode", :class => 'navbar-text') %>
        <%= check_box_tag('patron_mode', "Patron Mode",false, :class => 'checkbox') if current_user.admin? %>
      </form>
    </div>
  </div>
</div>
