<div class="_osul">
  <div id="osu-top-hat">
    <div class="container">
      <a href="http://oregonstate.edu" class="tag">
        <img src="/assets/osu-tag.png" class="logo" alt="Oregon State University">
        <span class="mobile-header">OREGON STATE UNIVERSITY</span>
      </a>
      <ul class="menu">
        <li class="first leaf">
          <a href="<%= APP_CONFIG['baseurl'] %>/reference" title="">Ask Us</a>
        </li>
        <li class="leaf">
          <a href="http://oasis.oregonstate.edu/screens/accesrec.html" title="">My Account</a>
        </li>
        <li class="last leaf">
          <a href="<%= APP_CONFIG['baseurl'] %>/giving" title="">Make a Gift</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="mobile-icon-menu">
    <a href="#" id="toggle-mobile-menu" class="m-icon-link">
      <i class="icon-reorder"></i>
    </a>
    <a href="<%= APP_CONFIG['baseurl'] %>/search/osu" id="mobile-search-link" class="m-icon-link">
      <i class="icon-search"></i>
    </a>
  </div>
</div>
