      <div class="utilitybg"></div>
      <div id="titlebar">
        <div class="utility">
          <ul>
            <li id="askus">
              <a href="http://osulibrary.oregonstate.edu/reference">Ask Us</a>
            </li>
            <li>
              <a href="http://oasis.oregonstate.edu/screens/accesrec.html">My Account</a>
            </li>
            <li id="gift">
              <a href="http://osulibrary.oregonstate.edu/giving">Make a Gift</a>
            </li>
          </ul>
        </div>
        <a class="osulink" href="http://oregonstate.edu"></a>
        <a class="librarylink" href="http://osulibrary.oregonstate.edu"></a>
      </div>

      <div id="nav">
        <ul id="menu">
          <li>
            <h2>
              <a href="http://osulibrary.oregonstate.edu">Home</a>
            </h2>
          </li>
          <li>
            <h2>
              <a href="http://osulibrary.oregonstate.edu/find-it">Find It</a>
            </h2>
            <ul>
              <li>
                <h3>Search Tools</h3>
                <ul>
                  <li>
                    <a href="http://oregonstate.summon.serialssolutions.com/search?s.q=">1Search</a>
                  </li>
                  <li>
                    <a href="http://oasis.oregonstate.edu/">Catalog</a>
                  </li>
                  <li>
                    <a href="http://summit.worldcat.org/">Summit/Worldcat</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/research-databases">Databases</a>
                  </li>
                  <li>
                    <a href="http://ica.library.oregonstate.edu/subject-guide/1351-Ebooks-for-eReaders">E-books</a>
                  </li>
                  <li>
                    <a href="http://mw8xt6bj7r.search.serialssolutions.com/">E-journals</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>Services</h3>
                <ul>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/reserves">Course Reserves</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/ill">Interlibrary Loan</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/scan-deliver">Scan &amp; Deliver</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/summit">Summit Borrowing</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>Help</h3>
                <ul>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/reference">Ask a Librarian</a>
                  </li>
                  <li>
                    <a href="http://ica.library.oregonstate.edu/course-guides/">Course Guides</a>
                  </li>
                  <li>
                    <a href="http://ica.library.oregonstate.edu/subject-guides/">Subject/Discipline Guides</a>
                  </li>
                  <li>
                    <a href="http://ica.library.oregonstate.edu/tutorials/">Tutorials</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h2>
              <a href="http://osulibrary.oregonstate.edu/in-the-library">In the Library</a>
            </h2>
            <ul>
              <li>
                <h3>Services</h3>
                <ul>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/borrowing">Borrowing</a>
                  </li>
                  <li>
                    <a href="http://oregonstate.edu/is/mediaservices/sms/">Student Multimedia Services</a>
                  </li>
                  <li>
                    <a href="http://oregonstate.edu/childcare/ourlittlevillage">Child Care</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/accessibility-services">Accessibility Services</a>
                  </li>
                  <li>
                    <a href="http://oregonstate.edu/is/tss/och">OSU Computer Helpdesk</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>Equipment</h3>
                <ul>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/computers">Computers</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/laptops">Laptops</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/lockers">Lockers</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/copiers">Copiers</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/printers">Printers</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/kindles">Kindles</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>Spaces</h3>
                <ul>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/study-rooms">Study Rooms</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/classrooms">Classrooms</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/floormaps">Floormaps</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/learning-commons">Learning Commons</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/clc">Collaborative Learning Center</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/research-rooms">Research Rooms</a>
                  </li>
                  <li>
                    <a href="http://webcam.oregonstate.edu/java2/">Java II</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h2>
              <a href="http://osulibrary.oregonstate.edu/about">About</a>
            </h2>
            <ul>
              <li>
                <h3>About Valley Library</h3>
                <ul>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/about/valley">About the Valley Library</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/hours">Hours</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/policies">Policies</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/visit">Visiting</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/jobs">Jobs</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/nwart">Northwest Art Exhibit</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/social-media-directory">Social Media Directory</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>About OSU Libraries</h3>
                <ul>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/about/OSU-Libraries">About OSU Libraries</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/staff/directory">Staff Directory</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/administration">Administration</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/collections">Collections</a>
                  </li>
                  <li>
                    <a href="http://osulibrary.oregonstate.edu/departments">Departments</a>
                  </li>
                  <li>
                    <a href="http://cascades.library.oregonstate.edu/">Cascades Campus Library</a>
                  </li>
                  <li>
                    <a href="http://guin.library.oregonstate.edu/">Guin Library</a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>Unique @ OSU</h3>
                <ul>
                  <li>
                    <a href="http://oregondigital.org/">Digital Collections</a>
                  </li>
                  <li>
                    <a href="http://cdss.library.oregonstate.edu/">Center for Digital Scholarship</a>
                  </li>
                  <li>
                    <a href="http://ir.library.oregonstate.edu/dspace/">ScholarsArchive</a>
                  </li>
                  <li>
                    <a href="http://oregonexplorer.info/">Oregon Explorer</a>
                  </li>
                  <li>
                    <a href="http://scarc.library.oregonstate.edu/">Special Collections &amp; Archives Research Center</a>
                  </li>
                  <li>
                    <a href="http://osupress.oregonstate.edu/">OSU Press</a>
                  </li>
                </ul>
              </li>
              <li class="bottom">
                <a href="http://osulibrary.oregonstate.edu/news/messenger">The Messenger</a>
                <span> - official newsletter for OSU Libraries</span>
              </li>
            </ul>
          </li>
        </ul>
        <div id="searchTabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
          <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active ui-state-focus">
              <a id="onesb" href="#onesearch">Search</a>
            </li>
            <li class="ui-state-default ui-corner-top">
              <a id="bmsb" href="#booksmedia">Books &amp; Media</a>
            </li>
            <li class="ui-state-default ui-corner-top">
              <a id="wssb" href="#websearch">Website</a>
            </li>
          </ul>
          <div id="onesearch" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <form method="get" action="http://oregonstate.summon.serialssolutions.com/search/results">
              <input type="text" onfocus="if(value=='1Search: Articles, Books, eCollections'){value=''};this.style.color='black'" value="1Search: Articles, Books, eCollections" accesskey="s" maxlength="256" name="q" style="color: black;">
              <input type="image" alt="Go button" src="http://osulibrary.oregonstate.edu/sites/all/themes/osu_confident/images/osul_images/gogray.gif" class="gobtn">
            </form>
          </div>
          <div id="booksmedia" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <form method="get" action="http://oasis.oregonstate.edu/search/">
              <input type="hidden" value="X" name="searchtype">
              <input type="text" onfocus="if(value=='Search the catalog'){value=''};this.style.color='black'" value="Search the catalog" accesskey="s" maxlength="256" name="searcharg" style="color: black;">
              <input type="hidden" value="13" name="searchscope">
              <input type="image" alt="Go button" src="http://osulibrary.oregonstate.edu/sites/all/themes/osu_confident/images/osul_images/gogray.gif" class="gobtn">
            </form>
          </div>
          <div id="websearch" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <input type="text" class="form-text" onfocus="if(this.value=='Search this site') {value='';};this.style.color='black'" value="Search this site" id="wsearch" name="keys" maxlength="255" style="color: black;">
            <input type="image" src="http://osulibrary.oregonstate.edu/sites/all/themes/osu_confident/images/osul_images/gogray.gif" class="form-submit gobtn" id="edit-submit-1" value="Search" name="op" onclick="osuSearch()">
          </div>
        </div>
      </div>
