<div id='footer'>
  <div class='container-fluid'>
    <div class='row-fluid'>
      <div class='span2 contact'>
        <h2>Contact Info</h2>
        <div class="specific-contact">
          <p>121 The Valley Library<br />Corvallis OR 97331–4501</p><p>Phone: 541-737-3331</p><p><a href="//answers.library.oregonstate.edu/ask">Contact Us</a></p><p><a href="//library.oregonstate.edu/accessibility-services">Services for Persons with Disabilities</a></p>            </div>
        <div class="general-contact">
          <a href="//oregonstate.edu/copyright">Copyright</a>
          &copy;2020              Oregon State University<br />
          <a href="//oregonstate.edu/disclaimer">Disclaimer</a>
        </div>
        <div class="social-media"><a href="http://www.facebook.com/pages/Corvallis-OR/The-Valley-Library/5913513878?ref=ts" title="Go to our Facebook page"><i class="fa fa-facebook"></i> Facebook</a><a href="http://www.flickr.com/photos/osuvalleylibrary" title="Go to our Flickr page"><i class="fa fa-flickr"></i> Flickr</a><a href="https://www.twitter.com/osuvalleylib" title="Go to our Twitter page"><i class="fa fa-twitter"></i> Twitter</a></div>
      </div>
      <div class='span10'>
        <div class="region region-footer">
          <div id="block-block-381" class="block block-block footer-links">
            <div class="content">
              <div id="osul-footer-left">
                <div class="content">
                  <h2>In The Valley Library</h2>
                  <ul class="menu">
                    <li class="first leaf"><a href="http://osupress.oregonstate.edu/">Oregon State University Press</a></li>
                    <li class="leaf"><a href="http://scarc.library.oregonstate.edu">Special Collections and Archives Research Center</a></li>
                    <li class="leaf"><hr></li>
                    <li class="leaf"><a href="https://guides.library.oregonstate.edu/studio">Undergraduate Research &amp; Writing Studio</a></li>
                    <li class="leaf"><a href="https://guides.library.oregonstate.edu/graduate-student-commons">Graduate Student Commons</a></li>
                    <li class="leaf"><a href="/clc">Tutoring Services</a></li>
                    <li class="leaf"><a href="//is.oregonstate.edu/sms/">Student Multimedia Services</a></li>
                    <li class="leaf"><a href="/nwart">Northwest Art Collection</a></li>
                    <li class="leaf"><a href="http://familyresources.oregonstate.edu/olv-library">Child Care</a></li>
                  </ul>
                  </div>
                </div>
              <div id="osul-footer-right">
                <div class="content">
                  <h2>Digital Projects</h2>
                  <ul class="menu">
                    <li class="first leaf"><a href="http://oregonexplorer.info/">Oregon Explorer</a></li>
                    <li class="leaf"><a href="//oregondigital.org">Oregon Digital</a></li>
                    <li class="leaf"><a href="//ir.library.oregonstate.edu">ScholarsArchive@OSU</a></li>
                    <li class="leaf"><a href="//dpi.library.oregonstate.edu">Digital Publishing Initiatives</a></li>
                    <li class="leaf"><a href="http://pnwatlas.oregonstate.edu/#/">Atlas of the Pacific Northwest</a></li>
                  </ul>
                </div>
                <div class="content">
                  <h2>Branches</h2>
                  <ul class="menu">
                    <li class="leaf"><a href="//guin.library.oregonstate.edu">Marilyn Potts Guin Library</a></li>
                    <li class="last leaf"><a href="//cascades.library.oregonstate.edu/">Cascades Campus Library</a></li>
                    <li class="last leaf"><a href="https://vetmed.oregonstate.edu/library">McDowell Library of Vet Medicine</a></li>
                  </ul>
                </div>
              </div>  
            </div>
          </div>
          <div id="block-block-378" class="block block-block footer-gift">
            <div class="content">
              <p><a class="gift-btn" href="https://adminlb.imodules.com/s/359/foundation/index.aspx?sid=359&amp;gid=34&amp;pgid=1982&amp;cid=3007" target="_blank"><i class="icon-gift"></i> Make a Gift</a></p>  </div>
          </div>
          <div id="block-block-384" class="block block-block">
            <div class="content">
              <p><img src="//osulibrary.oregonstate.edu/sites/default/files/fdlp-emblem-color.png" alt="FDLP Emblem" width="45" height="40" />  <a href="http://guides.library.oregonstate.edu/subject-guide/286-Government-Information">Federal Depository Library Program</a></p>  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
