  <div id="osu-top-hat" class="new container-fluid">
    <a href="http://www.oregonstate.edu"><img src="//osulibrary.oregonstate.edu/sites/all/themes/doug-fir-drupal-7/images/new_logo.png" alt="Oregon State University"/></a>
    <span class="mobile-header"><a href="http://www.oregonstate.edu">OREGON STATE UNIVERSITY</a></span>
    <span class="group-header"><a class="parent" href=http://osulibrary.oregonstate.edu></a><h1><a href="//osulibrary.oregonstate.edu/">OSU Libraries</a></h1></span>  <a href='/search/osu' id="search-link" class="m-icon-link"><i class="icon-search"></i></a>
  </div>
  <div id="mobile-icon-menu">
    <a href='#' id="toggle-mobile-menu" class="m-icon-link"><i class="icon-reorder"></i></a>
  </div>
  <div id='page-wrapper' class='container-fluid'>
    <!-- Site Name, parent unit, and group name -->
    <!-- Get all of the menus that could be included in the mobile menu -->
    <ul id="mobile-menu" role="navigation"><li id="mobile-main-menu"><ul class="menu"><li class="first leaf"><a href="//osulibrary.oregonstate.edu" title="">Home</a></li>
      <li class="collapsed"><span title="" class="nolink">Books &amp; Articles</span></li>
      <li class="collapsed"><span title="" class="nolink">Help</span></li>
      <li class="collapsed"><span title="" class="nolink">Meet &amp; Study Here</span></li>
      <li class="collapsed"><span title="" class="nolink">Tech &amp; Print</span></li>
      <li class="last collapsed"><span title="" class="nolink">About</span></li>
    </ul></li><li id="mobile-osu-top-hat"><ul class="menu"><li class="first leaf"><a href="http://osulibrary.oregonstate.edu/my-account" title="">My Account</a></li>
      <li class="last leaf"><a href="https://adminlb.imodules.com/s/359/foundation/index.aspx?sid=359&amp;gid=34&amp;pgid=1982&amp;cid=3007" title="">Make a Gift</a></li>
    </ul></li></ul>   <!-- Main menu navbar -->
    <div id='main-menu' role="navigation">
      <div class="region region-nav">
        <div id="block-nice-menus-1" class="block block-nice-menus">
          <div class="content">
          <p class="help-box alert alert-info" role="alert" ><%= t('help.reserve-help') %></p>
            <ul class="nice-menu nice-menu-down nice-menu-main-menu" id="nice-menu-1"><li class="menu-108741 menu-path-front first odd "><a href="//osulibrary.oregonstate.edu/" title="" class="active">Home</a></li>
              <li class="menu-258162 menuparent  menu-path-nolink  even "><span title="" class="nolink">Borrow &amp; Request</span><ul><li class="menu-258275 menu-path-reserves first odd "><a href="//osulibrary.oregonstate.edu/reserves" title="">Course Reserves</a></li>
                <li class="menu-258276 menu-path-ill  even "><a href="//osulibrary.oregonstate.edu/ill" title="">Interlibrary Loan</a></li>
                <li class="menu-258493 menu-path-node-199661  odd "><a href="//osulibrary.oregonstate.edu/purchase-request" title="">Purchase Request</a></li>
                <li class="menu-258459 menu-path-node-204701  even last"><a href="//osulibrary.oregonstate.edu/borrowing-policies" title="">Borrowing Policies</a></li>
              </ul></li>
              <li class="menu-258163 menuparent  menu-path-nolink  odd "><span title="" class="nolink">Help</span><ul><li class="menu-258277 menu-path-reference first odd "><a href="//osulibrary.oregonstate.edu/reference" title="">Ask a Librarian</a></li>
                <li class="menu-258278 menu-path---guideslibraryoregonstateedu-  even "><a href="//guides.library.oregonstate.edu/" title="">Research Guides</a></li>
                <li class="menu-258279 menu-path---diylibraryoregonstateedu-  odd"><a href="//diy.library.oregonstate.edu/" title="">Library DIY</a></li>
                <li class="menu-258494 menu-path-graduate-students  even last"><a href="//osulibrary.oregonstate.edu/graduate-students" title="">Workshops</a></li>
              </ul></li>
              <li class="menu-258164 menuparent  menu-path-nolink  even "><span title="" class="nolink">Meet &amp; Study Here</span><ul><li class="menu-258483 menu-path-reserve-room first odd "><a href="//osulibrary.oregonstate.edu/reserve-room" title="">Reserve a Room</a></li>
                <li class="menu-258285 menu-path-node-20796  even last"><a href="//osulibrary.oregonstate.edu/floormaps" title="">Floor Maps</a></li>
              </ul></li>
              <li class="menu-258165 menuparent  menu-path-nolink  odd "><span title="" class="nolink">Tech &amp; Print</span><ul><li class="menu-258289 menu-path-node-204191 first odd "><a href="//osulibrary.oregonstate.edu/loanable-equipment" title="">Loanable Equipment</a></li>
                <li class="menu-258487 menu-path-copy-print-scan  even "><a href="//osulibrary.oregonstate.edu/copy-print-scan" title="">Copy, Print, Scan</a></li>
                <li class="menu-258484 menu-path-guideslibraryoregonstateedu-3dprinting  odd "><a href="http://guides.library.oregonstate.edu/3Dprinting" title="">3D Printers</a></li>
                <li class="menu-258486 menu-path---isoregonstateedu-service-large-format-poster-production  even "><a href="//is.oregonstate.edu/service/large-format-poster-production" title="">Poster Printing</a></li>
                <li class="menu-258290 menu-path-laptops  odd last"><a href="//osulibrary.oregonstate.edu/computers" title="">Computers</a></li>
              </ul></li>
              <li class="menu-258166 menuparent  menu-path-nolink  even last"><span title="" class="nolink">About</span><ul><li class="menu-258295 menu-path-node-196886 first odd "><a href="//osulibrary.oregonstate.edu/about/valley" title="">About the Valley Library</a></li>
                <li class="menu-258299 menu-path-staff-directory  even "><a href="//osulibrary.oregonstate.edu/staff/directory" title="">Directory</a></li>
                <li class="menu-258461 menu-path-policies  odd "><a href="//osulibrary.oregonstate.edu/policies" title="">Policies</a></li>
                <li class="menu-258297 menu-path-visit  even "><a href="//osulibrary.oregonstate.edu/visit" title="">Visiting</a></li>
                <li class="menu-258298 menu-path-node-199066  odd last"><a href="//osulibrary.oregonstate.edu/jobs" title="">Jobs</a></li>
              </ul></li>
            </ul>
          </div>
        </div>
        <div id="block-block-406" class="block block-block">
          <div class="content">
            <p><a href="http://osulibrary.oregonstate.edu/my-account">MY ACCOUNT</a></p>   
          </div>
        </div>
      </div>
    </div>
  </div>
