<div class="_osul">
  <div id="osu-top-hat">
    <div class="container">
      <a href="http://oregonstate.edu" class="tag"><img src="/assets/osu-tag.png" class="logo" alt="Oregon State University"><span class="mobile-header">OREGON STATE UNIVERSITY</span></a>
      <ul class="menu">
        <li class="first leaf"><a href="//osulibrary.oregonstate.edu/my-account" title="">My Account</a></li>
        <li class="last leaf">
          <a href="https://adminlb.imodules.com/s/359/foundation/index.aspx?sid=359&amp;gid=34&amp;pgid=1982&amp;cid=3007" title="">Make
            a Gift</a></li>
      </ul>
      <div id="top-hat-chat">
        <a href="//osulibrary.oregonstate.edu/reference"><i class="osu-question-icon"></i>Ask a Librarian<br><span class="top-hat-chat-sm">Chat or text us, email, DIY + more</span></a>
      </div>
    </div>
  </div>
  <div id="mobile-icon-menu">
    <a href="#" id="toggle-mobile-menu" class="m-icon-link">
      <i class="icon-reorder"></i>
    </a>
    <a href="<%= APP_CONFIG['baseurl'] %>/search/osu" id="mobile-search-link" class="m-icon-link">
      <i class="icon-search"></i>
    </a>
  </div>
</div>
